body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand",sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    text-align: center;
    padding: 24px 24px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}

section {
    padding: 100px 240px;
    margin-top: 60px;
}

.noivos {
    font-weight: normal;
    font-size: 72px !important;
}
section .title{
    font-size: 56px;
    text-align: center;
    font-family: "Hurricane", cursive;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    padding: 16px;
    border-radius: 32px;
    color: white;
    font-weight: bold;
    background-color: #a282b4;
}

section:nth-child(even) {
    background-color: rgba(218, 205, 241, 0.25);
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Estilo geral do formulário */
.confirmar-presenca-form {
    display: flex;
    flex-direction: column; /* Organiza os campos verticalmente */
    gap: 20px; /* Espaçamento entre os campos */
    max-width: 600px; /* Largura máxima do formulário */
    margin: 0 auto; /* Centraliza o formulário na página */
    background-color: #ffffff; /* Fundo branco para o formulário */
    padding: 20px;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve para destacar o formulário */
}

/* Estilos para cada grupo de campo */
.form-group {
    display: flex;
    align-items: center; /* Alinha a pergunta e a resposta na mesma linha */
    gap: 10px; /* Espaço entre o label e o input/select */
}

/* Estilo para as perguntas (labels) */
.form-group label {
    text-align: right;

    flex: 0 0 35%; /* A pergunta ocupa 35% da largura */
}

/* Estilo para as respostas (inputs, selects, etc.) */
.form-group input,
.form-group select,
.form-group textarea {
    flex: 1; /* A resposta ocupa o restante da largura */
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(180, 150, 255,0.1); /* Cor de fundo das caixas de perguntas */
    color: black; /* Texto nas caixas em branco */
}

/* Foco nas caixas de entrada (input, select, textarea) */
.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    outline: none; /* Remove o contorno padrão */
    border-color: #6e4b76; /* Altera a cor da borda ao focar */
    background-color: rgba(180, 150, 255,0.2); /* Cor de fundo das caixas de perguntas */
}
.buttonDad {
    display: flex;
    justify-content: center;
}

/* Estilo para o botão de envio */
.btn-confirmar {
    padding: 10px 20px;
    background-color: #a282b4;
    color: white;
    width: 50%;
    border: none;
    cursor: pointer;
    border-radius: 32px;
}

/* Alterar aparência do botão ao passar o mouse */
.btn-confirmar:hover {
    background-color: #a270b0;
}

/* Estilo para a área de observações */
textarea {
    resize: vertical; /* Permite que o usuário redimensione a área de texto na vertical */
    min-height: 100px;
}


.home-section {
    position: relative;
    background-image: url('casamento.webp'); /* Altere aqui para o caminho correto da sua imagem */
    background-size: cover;
    background-position: center;
    height: 500px; /* Ajuste a altura conforme necessário */
    color: white;
    text-align: center;
}

.recepcao {
    background-image: url('https://img.goodfon.com/original/1920x1080/4/55/sword-art-online-kirigaya-kazuto-kirito-yuuki-asuna-mastera.jpg');
    background-size: cover;;
    height: 500px;
}

.legenda {
    text-align: center;
}

.home-section .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adiciona sombra ao texto para melhorar a visibilidade sobre a imagem */
}

.home-section h1 {
    font-size: 3em;
    margin: 0;
}

.home-section p {
    font-size: 1.2em;
}

/* Estilos para a Lista de Presentes */
.presentes-grid {
    display: grid;
    padding: 20px 100px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.presente {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.presente img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 8px;
    margin-bottom: 10px;
}

.presente h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.presente p {
    font-size: 1em;
    color: #666;
}

/* Adiciona animação de rolagem suave ao clicar nos links */
html {
    scroll-behavior: smooth;
}
